/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* otra seccion */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #13625b;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff7fb;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 3rem;
}

h2s {
  color: #fff7fb;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 3re, 0;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: auto;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

header,
footer {
  background: yellow;
  color: #62131a;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-logo {
  margin-left: 2rem;
  font-weight: bold;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav ul,
footer .footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer-list li {
  padding: 1rem;
}

.footer-list img {
  width: 4rem;
  padding: o.5rem;
}

.bg-primary {
  background-color: #6e5a8e;
}

.bg-secondary {
  background-color: #f2c66d;
}

.text-light {
  color: #ffffff;
}

.text-dark {
  color: #2a1e35;
}

.text-secondary {
  color: #f2c66d;
}

.parrafo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjeta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: #e7e736;
  width: 30rem;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card img {
  padding: 3%;
  gap: 1rem;
  width: 30%;
  height: auto;
  object-fit: cover;
}

.card p,
h3 {
  font-size: 1.3rem;
  color: #2a1e35;
  line-height: 1.2;
  text-align: center;
  margin: 3rem, 0;
}

.titulo-contacto {
  margin: 2rem 0;
}

.form-contacto {
  background-color: #8a79a8;
  color: #2a1e35;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grupo-input input,
.grupo-input textarea {
  border: groove;
  background-color: transparent;
  border-bottom: groove 2px #370d3a;
  margin-bottom: 3rem;
}

.grupo-input textarea {
  min-height: 10rem;
  resize: vertical;
}

@media (max-width: 600px) {
  hearder,
  footer {
    flex-direction: column;
  }

  .header-nav,
  .div-logo {
    margin: 0;
  }
}
